* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #e0e5ec;
    background-color: #f8fafc;

}

body {
    background-color: #6c757d;
}

input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5a6268;
}
